.Rproj.user
.Rhistory
.RData
.Ruserdata
traits_reasoning_data_2025-07-18.csv
traits_reasoning_data_2025-07-25.csv
traits_reasoning_data_working_2025-09-28.csv
traits_reasoning_data_working_2025-09-28.RData
traits_reasoning_data_working_2025-09-28.sav