.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
traits_reasoning_data_2025-10-24.csv
traits_reasoning_data_2026-09-22.csv
traits_reasoning_data_working_2026-09-22.csv
traits_reasoning_data_working_2026-09-22.sav
traits_reasoning_data_working_2025-09-28.csv
traits_reasoning_data_working_2025-09-28.sav